
///////////////////////////////////////////////
// Tune collaboration components
///////////////////////////////////////////////


.describe-machine-part {
	
	.title {
		border-bottom: solid 1px #ddd;
		padding-bottom: 11px;

		h1 {
			margin: 0;
		}

		p {
			margin: 5px 0 0;

			&.small {
				color: #999;
				font-size: 12px;
			}
		}

	}

	.enum {
		tbody {
			height: 250px;

			.btn-shaded {
				margin: 0;
			}
		}
	}

}