
///////////////////////////////////////////////
// values.less - The tuning notepad values
///////////////////////////////////////////////

.tuning-notepad-values {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	
	//
	// Value headers
	//
	.values-tabs {
		.tab-buttons(); .tab-buttons-glow(); .font-handwriting();
		position: absolute;
		left: 8px; top: 2px; width: 100%; height: 40px;
	}

	//
	// Body tabs
	//
	.values-body {
		position: absolute;
		left: 0; top: 42px; width: 100%; bottom: 0;
		> div {
			position: absolute;
			left: 0; top: 0; width: 100%; height: 100%;
			overflow-x: hidden; overflow-y: auto;
			padding: 2px;
		}
		
		//
		// Head of the results table
		//
		.results-head {
			position: relative;
			height: 75px;

			.block-left {
				position: absolute;
			    left: 0;
			    width: 150px;				
			}
			.block-right {
				position: absolute;
				left: 125px;
			}
		}

		//
		// An empty content with hints
		//
		.content-empty {
			> div {
				display: block;
				width: 200px;
				position: absolute;
			    bottom: 63px;
			    left: 5px;
			    border-radius: 10px;
			    background-color: rgba(255,255,255,0.5);
			    padding: 5px;

				.content-title {
					margin-bottom: 10px;
					font-weight: bold;
				}
			}
		}

	}

}