
///////////////////////////////////////////////
// bits.less - Reusable Image Bits
///////////////////////////////////////////////

.bit-gear {
	background: url("modules/vas/basic/img/bits/gear.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 40px; height: 40px;
}

.bit-warn-tag {
	background: url("modules/vas/basic/img/bits/warn-tag.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 120px; height: 90px;	
}

.bit-more-up {
	background: url("modules/vas/basic/img/bits/more-up.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 100px; height: 10px;	
}
