
///////////////////////////////////////////////
// buttons.less - Buttons CSS
///////////////////////////////////////////////

.ibtn-tube {
	background: url("modules/vas/basic/img/button/btn-tube.png");
	width: 177px; height: 52px;
	background-position: 0 0;
	overflow: hidden;
	border: none;
	cursor: pointer;

	&:hover {
		background-position: 0 -52px;
	}
	&:active {
		background-position: 0 -104px;
	}
}
