
///////////////////////////////////////////////
// tuning-notepad.less - The notepad component
///////////////////////////////////////////////

.tuning-notepad {

	// Block
	display: block;
	width: 320px;
	height: 390px;

	// Background
	background-repeat: no-repeat;
	background-image: url("modules/vas/basic/img/frame/spiral.png");
	background-size: contain;

	.notepad-title {
		.font-handwriting();
		text-align: center;
		font-size: 2em;
		line-height: 100%;
		margin-top: -81px;
		text-shadow: 0 0 10px #FFF;

		span.title {
			font-size: 0.7em
		}
	}
	
	.notepad-body {
		position: absolute;
		left: 65px; right: 40px;
		top: 25px; bottom: 30px;
		overflow: auto;

		.notes-host {
			position: absolute;
			left: 0; top: 0; 
			width: 100%; bottom: 25px;
			overflow-y: auto;
			overflow-x: hidden;

			.note {
			    margin-bottom: 10px;				
				.date {
				    float: right;
				    font-size: 10px;
				    line-height: 20px;
				    margin-right: 5px;
				}
				.name {
				    height: 20px;
				    background-color: #FFF;
				    padding-left: 4px;
				    border-radius: 5px;
				}
			}

		}

		.notes-button {
		    position: absolute;
		    line-height: 25px;
		    height: 25px;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    text-align: center;
		    background-color: #666;
		    color: #FFF;
		    border-radius: 0 0 10px 10px;
		}

	}

	.notepad-tabs {
		.tab-buttons(); .tab-buttons-small();
		position: absolute;
		width: 100%;
		bottom: -16px;
		left: 60px;
	}

}