
///////////////////////////////////////////////
// tuning-panel.less - The tuning panel overlay
///////////////////////////////////////////////

.tuning-panel {
	.frame-tuning();

	// Block
	display: block;

	.tuning-panel-container {
    	margin: 80px 70px 60px 50px;

    	.tunable {
    		float: left;
    	}
    	
    	.clear-fix {
    		clear: both;
    	}

        .tunables-separator {
            color: #613C3B;
            h2 {
                margin-bottom: 0;
                margin-top: 0;
            }
            p {
                margin-top: 0;
                font-size: 12px;
            }
        }

    }

    .tuning-panel-buttons {
    	position: absolute;
        bottom: -43px;
        right: 81px;
    
        .btn-go {
            margin-left: -12px;
            font-weight: bold;
        }
    }

    .bit-link-pipe {
        position: absolute;
        background-image: url("modules/vas/basic/img/bits/hinge.png");
        width: 113px;
        height: 133px;
        bottom: -40px;
        right: -15px;
        z-index: -1;
    }

}