
///////////////////////////////////////////////
// quicksim.less - The quicksim overlay
///////////////////////////////////////////////

.quicksim-overlay {
	display: flex !important;
	overflow: visible !important;
	align-items: center;
	justify-content: center;

	.quicksim-frame {
		background: url("modules/vas/basic/img/background/quicksim.png");
		width: 540px; height: 360px;
		position: relative;
	
		//
		// Leds on the quicksim frame
		// 
		.led-1, .led-2, .led-3 { position: absolute; }
		.led-1 { left: 146px; top: 85px; }
		.led-2 { left: 256px; top: 85px; }
		.led-3 { left: 363px; top: 85px; }

		//
		// The two buttons
		//
		.btn-cancel {
			position: absolute;
			left: 198px; top: 243px;
		}
		.btn-continue {
			position: absolute;
			left: 338px; top: 243px;
		}

		//
		// The text areas
		//
		.quicksim-text {
			position: absolute;
		    left: 88px; top: 166px;
			width: 360px; height: 35px;

			text-align: center;
			line-height: 30px;
			font-size: 17px;

			&.text-green {
				color: #16a085;
			}

		}
		.quicksim-status {
			position: absolute;
			left: 97px; top: 200px;
			width: 346px; height: 20px;

			text-align: center;
			line-height: 20px;
			font-size: 14px;
			color: #999;
		}

		//
		// The gears
		//
		.gear-1 {
			.bit-gear-lg();
			.bit-gear-1();
			.animation-spin(4s);
			position: absolute;
			left: 300px; top: 283px;
		}
		.gear-2 {
			.bit-gear-sm();
			.bit-gear-3();
			.animation-spin(2s);
			.animation-reverse();
			position: absolute;
			left: 40px; top: 98px;
		}

	}

}

