
/* Extern imports */
@import url(modules/extern/bootstrap/css/bootstrap.min.css);

/* Common stuff */
.picker-wrapper, 
.slide-wrapper {
	position: relative;
	float: left;
}
.picker-indicator,
.slide-indicator {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}
.picker,
.slide {
	cursor: crosshair;
	float: left;
}

/* Small skin */

.cp-small {
	padding: 5px;
	background-color: white;
	float: left;
	border-radius: 5px;
}
.cp-small .picker {
	width: 100px;
	height: 100px;
}
.cp-small .slide {
	width: 15px;
	height: 100px;
}
.cp-small .slide-wrapper {
	margin-left: 5px;
}
.cp-small .picker-indicator {
	width: 1px;
	height: 1px;
	border: 1px solid black;
	background-color: white;
}
.cp-small .slide-indicator {
	width: 100%;
	height: 2px;
	left: 0px;
	background-color: black;
}


#editor-frame {
	width: 1075px;
	height: 765px;
	display: block;
	background-color: #EFEFEF;
	border-radius: 5px;
	position: relative;
	margin: 10px auto;
}

#editor-frame #editor-canvas {
	background: url(static/img/blackboard.jpg) no-repeat center center;
	position: absolute;
	left: 10px; top: 50px; width: 800px; height: 450px;
	border: solid 1px #eee;
	overflow: hidden;
}

#editor-frame #editor-canvas > .hotspots {
	display: block;
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
}

#editor-frame #editor-canvas > .hotspots.disabled {
	pointer-events: none;
}

#editor-frame #editor-canvas > .hotspots > div.hotspot {
	display: block;
	position: absolute;
	width: 32px; height: 32px;
	background-color: #3498db;
	border-radius: 32px;
}

#editor-frame #editor-canvas > .hotspots > div.hotspot > h1 {
	position: absolute;
	display: block;
	margin: 0; padding: 0;
	width: 32px; height: 32px;
	left: 0; top: 0;
	line-height: 32px;
	text-align: center;
	color: #FFF;
	font-size: 14px;
}

#editor-frame #editor-canvas > .hotspots.disabled > div.hotspot {
	opacity: 0.25;
}

#editor-frame #editor-toolbar {
	position: absolute;
	top: 10px; left: 10px; right: 10px; height: 40px;
}

#editor-frame #editor-timeline {
	position: absolute;
	bottom: 10px; left: 10px; right: 10px; 
	height: 250px;
	background: #FFF;
	border: solid 1px #ddd;
}

#editor-frame #editor-panels {
	position: absolute;
	left: 815px; width: 250px;
	top: 50px; height: 450px;
}

#editor-frame #editor-panels > .tab-header {
	position: absolute;
	left: 0; top: 0; width: 250px; height: 42px;
	padding: 0;
}


#editor-frame #editor-panels > .tab-content {
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	left: 0; right: 0; top: 42px; bottom: 0;
	background-color: #FFF;
	border-color: #ddd;
	border-width: 1px;
	border-style: none solid solid solid;
}

#editor-frame div.header {
	margin: 0 4px 4px;
	padding: 4px;
	font-weight: bold;
	border-bottom: solid 1px #ddd;
	color: #666;
}

#editor-frame .row label {
	font-size: 12px;
	line-height: 22px;
	text-align: right;
	width: 100%;
}

#editor-frame .row .col-xs-4 {
	padding-right: 2px;
	padding-left: 2px;
}

#editor-frame .row .col-xs-8 {
	padding-left: 2px;
}

#editor-frame .row {
	margin: 1px 1px 0;
	margin-right: 0 !important;
}

#editor-frame #editor-timeline {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#editor-frame #editor-timeline > .tl-header {
	position: absolute;
	left: 0; right: 0; top: 0; height: 32px;
}

#editor-frame #editor-timeline .tl-controls {
	padding: 4px;
}

#editor-frame #editor-timeline .tl-status {
	font-size: 12px;
	text-align: center;
	line-height: 32px;
}

#editor-frame #editor-timeline .tl-controls > .btn {
	margin: 0 1px;
}

#editor-frame #editor-timeline > .tl-footer {
	position: absolute;
	left: 0; right: 0; bottom: 0; height: 32px;
	border-top: solid 1px #ddd;
}

#editor-frame #editor-timeline > .tl-body {
	position: absolute;
	left: 0; right: 0; top:32px; bottom: 32px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#editor-frame #editor-timeline > .tl-header > div.tl-left,
#editor-frame #editor-timeline > .tl-footer > div.tl-left,
#editor-frame #editor-timeline > .tl-body > div.tl-left {
	width: 170px;
	float: left;
	height: 32px;
}

#editor-frame #editor-timeline > .tl-header > div.tl-right,
#editor-frame #editor-timeline > .tl-footer > div.tl-right,
#editor-frame #editor-timeline > .tl-body > div.tl-right {
	margin-left: 170px;
	width: 100%;
}

#editor-frame #editor-timeline > .tl-body > div.tl-side {
	width: 170px;
	float: left;
	background-color: #CCC;
	min-height: 100%;
	padding-top: 10px;

	-moz-box-shadow:    inset -4px 0 14px -8px #000000;
	-webkit-box-shadow: inset -4px 0 14px -8px #000000;
	box-shadow:         inset -4px 0 14px -8px #000000;
}

#editor-frame #editor-timeline > .tl-body > div.tl-canvas {
	margin-left: 170px;
	width: 100%;
}

#editor-frame #editor-timeline > .tl-body > div.tl-side > div.tl-info {
	height: 32px;
	background-color: #FFF;
	border-bottom: solid 1px #DDD;
}

#editor-frame #editor-timeline > .tl-body > div.tl-side > div.tl-handle {
	display: block;
	height: 24px;
	margin: 1px 0 1px 4px;
	padding: 2px;

	border-radius: 5px 0 0 5px;;
	border: 1px #999;
	background-color: #ddd;
	border-style: solid none solid solid;

	box-shadow: #eee 0px 1px 0px;
	cursor: pointer;
}

#editor-frame #editor-timeline > .tl-body > div.tl-side > div.tl-handle.active {
	background-color: #FFFF99;
}

#editor-frame #hotspots > ul.items {
	height: 220px;
	border: solid 1px #ddd;
	overflow-y: scroll;
	overflow-x: hidden;
	list-style: none;
	padding: 0;
	margin: 0 4px 5px;
}

#editor-frame #hotspots > ul.items > li {
	display: block;
	height: 24px;
	margin: 0;
	padding: 4px;
	cursor: pointer;
}

#editor-frame #hotspots > ul.items > li > span.s-short {
	float: right;
	color: #34495e;
	font-weight: bold;
}

#editor-frame #hotspots > ul.items > li.active {
	background-color: #2980b9;
	color: #FFF;
}

#editor-frame #hotspots > ul.items > li.active > span.s-short {
	color: #FFF;
}


#editor-frame #hotspots .btn-host {
	margin: 4px;
	padding-top: 4px;
	border-top: solid 1px #ddd;
}

#editor-frame #hotspots .btn-host .btn {
	margin: 0 2px 0 0;
}

#editor-modal-image #editor-modal-images-host {
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#editor-modal-image #editor-modal-images-host a {
	border: none;
	float: left;
	display: block;
	float; left;
	width: 128px;
	height: 128px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 4px;
}
