
.machine {
	position: relative;
	width: 1024px;
	height: 576px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../drafts/sketches/machine screen/preview-levels.jpg");
}

.sprite {
	position: absolute;
	left: 50px;
	top: 407px;
	background-repeat: no-repeat;
	background-image: url(sprite.png);

	cursor: pointer;
	-webkit-transition: opacity 0.5s;
	opacity: 0;

}

.sprite:hover {
	opacity: 1;
}